USE [MCT_ERP]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNTINGYEAR]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTINGYEAR](
	[YRID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [smalldatetime] NOT NULL CONSTRAINT [DF_ACCOUNTINGYEAR_FDATE]  DEFAULT (NULL),
	[TDATE] [smalldatetime] NOT NULL CONSTRAINT [DF_ACCOUNTINGYEAR_TDATE]  DEFAULT (NULL),
	[YRDESC] [varchar](15) NOT NULL CONSTRAINT [DF_ACCOUNTINGYEAR_YRDESC]  DEFAULT (NULL),
	[CUSRID] [varchar](50) NOT NULL CONSTRAINT [DF_ACCOUNTINGYEAR_CUSRID]  DEFAULT (''),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_ACCOUNTINGYEAR_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_ACCOUNTINGYEAR] PRIMARY KEY CLUSTERED 
(
	[YRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationGroupRoles]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroupRoles](
	[ApplicationRoleId] [nvarchar](128) NOT NULL,
	[ApplicationGroupId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationGroupRoles] PRIMARY KEY CLUSTERED 
(
	[ApplicationRoleId] ASC,
	[ApplicationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[Id] [nvarchar](128) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[ApplicationUserId] [nvarchar](128) NOT NULL,
	[ApplicationGroupId] [nvarchar](128) NOT NULL,
	[AppUser_Id] [varchar](50) NULL,
	[ApplicationGroups_Id] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[ApplicationUserId] ASC,
	[ApplicationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RMenuType] [nvarchar](128) NULL,
	[RControllerName] [nvarchar](128) NULL,
	[RMenuGroupId] [smallint] NULL,
	[RMenuGroupOrder] [smallint] NULL,
	[RMenuIndex] [nvarchar](128) NULL,
	[ModuleID] [int] NULL CONSTRAINT [DF_AspNetRoles_ModuleID]  DEFAULT ((0)),
	[RImageClassName] [varchar](50) NULL CONSTRAINT [DF_AspNetRoles_RImageClassName]  DEFAULT (NULL),
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/05/2022 11:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/05/2022 11:57:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Designation] [nvarchar](max) NULL,
	[DeptId] [int] NOT NULL,
	[DeptName] [nvarchar](max) NULL,
	[NPassword] [nvarchar](max) NULL,
	[EPassword] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Signature] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACCOUNTINGYEAR] ON 

INSERT [dbo].[ACCOUNTINGYEAR] ([YRID], [FDATE], [TDATE], [YRDESC], [CUSRID], [PRCSDATE]) VALUES (1, CAST(N'2021-04-01 00:00:00' AS SmallDateTime), CAST(N'2022-03-31 00:00:00' AS SmallDateTime), N'2021 - 2022', N'', CAST(N'2022-02-17 00:00:00.000' AS DateTime))
INSERT [dbo].[ACCOUNTINGYEAR] ([YRID], [FDATE], [TDATE], [YRDESC], [CUSRID], [PRCSDATE]) VALUES (2, CAST(N'2022-04-01 00:00:00' AS SmallDateTime), CAST(N'2023-03-31 00:00:00' AS SmallDateTime), N'2022 - 2023', N'admin', CAST(N'2022-04-18 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ACCOUNTINGYEAR] OFF
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'0258498d-da12-41a3-9d80-85fe3aff54b9', N'5f9412ac-7069-4ab0-9af1-606653e493e8')
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'0258498d-da12-41a3-9d80-85fe3aff54b9', N'723bff60-0a5d-4ab2-8c8d-96ae78212e40')
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'044e79cb-ea32-4303-a5fe-7236e4fab6f6', N'5f9412ac-7069-4ab0-9af1-606653e493e8')
GO
INSERT [dbo].[ApplicationGroups] ([Id], [name], [Description]) VALUES (N'578e5005-8868-4a45-b07a-35d7c9c1e3fb', N'User', N'User')
INSERT [dbo].[ApplicationGroups] ([Id], [name], [Description]) VALUES (N'5f9412ac-7069-4ab0-9af1-606653e493e8', N'SuperAdmin', N'SuperAdmin Group')
INSERT [dbo].[ApplicationGroups] ([Id], [name], [Description]) VALUES (N'723bff60-0a5d-4ab2-8c8d-96ae78212e40', N'Admin', N'Admin Group')
INSERT [dbo].[ApplicationUserGroups] ([ApplicationUserId], [ApplicationGroupId], [AppUser_Id], [ApplicationGroups_Id]) VALUES (N'14ee19d5-67ce-4920-9843-10a04b6ff1fa', N'578e5005-8868-4a45-b07a-35d7c9c1e3fb', NULL, NULL)
INSERT [dbo].[ApplicationUserGroups] ([ApplicationUserId], [ApplicationGroupId], [AppUser_Id], [ApplicationGroups_Id]) VALUES (N'570abfe9-90c4-4c2b-97f5-5e19f98645dc', N'5f9412ac-7069-4ab0-9af1-606653e493e8', NULL, NULL)
INSERT [dbo].[ApplicationUserGroups] ([ApplicationUserId], [ApplicationGroupId], [AppUser_Id], [ApplicationGroups_Id]) VALUES (N'570abfe9-90c4-4c2b-97f5-5e19f98645dc', N'723bff60-0a5d-4ab2-8c8d-96ae78212e40', NULL, NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'0258498d-da12-41a3-9d80-85fe3aff54b9', N'EmptyLeasingRepairCodeCreate', N'Can Create Empty Leasing Repair Code', N'Empty Leasing Repair Code', N'EmptyLeasingRepairCodeMaster', 101, 3, N'Index', 2, N'fa fa-briefcase')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'044e79cb-ea32-4303-a5fe-7236e4fab6f6', N'ContainerSideMasterCreate', N'Can Create Container Side Master', N'Container Side', N'ContainerSideMaster', 100, 3, N'Index', 1, N'fa fa-briefcase')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'06b05176-310a-48b2-8604-7ecf7c3736d8', N'ContainerSideMasterIndex', N'Can View Container Side Master', N'Container Side', N'ContainerSideMaster', 100, 3, N'Index', 1, N'fa fa-briefcase')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'14ee19d5-67ce-4920-9843-10a04b6ff1fa', N'0da6b41a-469d-4405-bcb6-dd03459210c4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'14ee19d5-67ce-4920-9843-10a04b6ff1fa', N'0f635e4e-2253-4613-b602-0c2e26f3261a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'14ee19d5-67ce-4920-9843-10a04b6ff1fa', N'15578c33-8663-4cbf-8d01-e0ffcea6286c')
GO
ALTER TABLE [dbo].[ApplicationGroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.ApplicationGroups_Id] FOREIGN KEY([ApplicationGroupId])
REFERENCES [dbo].[ApplicationGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationGroupRoles] CHECK CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.ApplicationGroups_Id]
GO
ALTER TABLE [dbo].[ApplicationGroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.AspNetRoles_ApplicationRoleId] FOREIGN KEY([ApplicationRoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationGroupRoles] CHECK CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.AspNetRoles_ApplicationRoleId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
