USE [Lumina-Live]
GO
/****** Object:  Table [dbo].[ChitSchemePattern]    Script Date: 17-06-2022 12:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChitSchemePattern]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ChitSchemePattern](
	[PatternID] [int] IDENTITY(1,1) NOT NULL,
	[ChitSchemeID] [int] NOT NULL,
	[ChitInstalmentNo] [int] NOT NULL,
	[DiscountPercentage] [float] NULL,
	[DiscountAmount] [float] NULL,
	[DividentPercentage] [float] NULL,
	[DividentAmount] [float] NULL,
 CONSTRAINT [PK_Chit.Scheme.Pattern] PRIMARY KEY CLUSTERED 
(
	[PatternID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ChitSchemePattern] ON 

INSERT [dbo].[ChitSchemePattern] ([PatternID], [ChitSchemeID], [ChitInstalmentNo], [DiscountPercentage], [DiscountAmount], [DividentPercentage], [DividentAmount]) VALUES (411, 1, 1, 25, 6250, 0.8, 200)
INSERT [dbo].[ChitSchemePattern] ([PatternID], [ChitSchemeID], [ChitInstalmentNo], [DiscountPercentage], [DiscountAmount], [DividentPercentage], [DividentAmount]) VALUES (412, 1, 2, 0, 0, 0, 0)
INSERT [dbo].[ChitSchemePattern] ([PatternID], [ChitSchemeID], [ChitInstalmentNo], [DiscountPercentage], [DiscountAmount], [DividentPercentage], [DividentAmount]) VALUES (413, 1, 3, 25, 6250, 0.8, 200)
GO
SET IDENTITY_INSERT [dbo].[ChitSchemePattern] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Chit.Scheme.Pattern_Chit.Scheme.Master]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChitSchemePattern]'))
ALTER TABLE [dbo].[ChitSchemePattern]  WITH CHECK ADD  CONSTRAINT [FK_Chit.Scheme.Pattern_Chit.Scheme.Master] FOREIGN KEY([ChitSchemeID])
REFERENCES [dbo].[ChitScheme] ([ChitSchemeID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Chit.Scheme.Pattern_Chit.Scheme.Master]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChitSchemePattern]'))
ALTER TABLE [dbo].[ChitSchemePattern] CHECK CONSTRAINT [FK_Chit.Scheme.Pattern_Chit.Scheme.Master]
GO
