USE [FinFusion]
GO
/****** Object:  Table [dbo].[COMPANYACCOUNTINGDETAIL]    Script Date: 12/05/2022 12:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANYACCOUNTINGDETAIL](
	[COMPYID] [int] IDENTITY(1,1) NOT NULL,
	[COMPID] [int] NOT NULL CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_COMPID]  DEFAULT ((0)),
	[YRID] [int] NOT NULL CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_YRID]  DEFAULT ((0)),
	[CUSRID] [varchar](100) NOT NULL CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_CUSRID]  DEFAULT (NULL),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_COMPANYACCOUNTINGDETAIL] PRIMARY KEY CLUSTERED 
(
	[COMPYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANYDETAIL]    Script Date: 12/05/2022 12:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANYDETAIL](
	[COMPDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPID] [int] NOT NULL,
	[COMPPONAME] [varchar](100) NOT NULL,
	[COMPPOADDR] [varchar](500) NOT NULL,
 CONSTRAINT [PK_COMPANYDETAIL] PRIMARY KEY CLUSTERED 
(
	[COMPDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANYMASTER]    Script Date: 12/05/2022 12:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANYMASTER](
	[COMPID] [int] IDENTITY(1,1) NOT NULL,
	[COMPCTYPE] [smallint] NULL CONSTRAINT [DF_COMPANYMASTER_COMPCTYPE]  DEFAULT ((0)),
	[COMPNAME] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMPNAME]  DEFAULT (NULL),
	[COMPDNAME] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMPDNAME]  DEFAULT (NULL),
	[COMPADDR] [varchar](250) NULL CONSTRAINT [DF_COMPANYMASTER_COMPADDR]  DEFAULT (NULL),
	[COMPPHNID] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPHNID]  DEFAULT (NULL),
	[COMPPHN1] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPHN1]  DEFAULT (NULL),
	[COMPPHN2] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPHN2]  DEFAULT (NULL),
	[COMPPHN3] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPHN3]  DEFAULT (NULL),
	[COMPPHN4] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPHN4]  DEFAULT (NULL),
	[COMPMAIL] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPMAIL]  DEFAULT (NULL),
	[COMPCPRSN] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPCPRSN]  DEFAULT (NULL),
	[COMPGSTNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPGSTNO]  DEFAULT (NULL),
	[COMPCSTNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPCSTNO]  DEFAULT (NULL),
	[COMPCSTDATE] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPCSTDATE]  DEFAULT (NULL),
	[COMPACODE] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPACODE]  DEFAULT (NULL),
	[COMPTINO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPTINO]  DEFAULT (NULL),
	[COMPECCNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPECCNO]  DEFAULT (NULL),
	[COMPEXCSRNG] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPEXCSRNG]  DEFAULT (NULL),
	[COMPDVSN] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPDVSN]  DEFAULT (NULL),
	[COMPACTCODE] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPACTCODE]  DEFAULT (NULL),
	[COMPCODE] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPCODE]  DEFAULT (NULL),
	[COMPECCADDR] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPECCADDR]  DEFAULT (NULL),
	[COMPCOMM] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPCOMM]  DEFAULT (NULL),
	[COMPWEBSITE] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPWEBSITE]  DEFAULT (NULL),
	[COMPDRNAME] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPDRNAME]  DEFAULT (NULL),
	[COMPPANNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPPANNO]  DEFAULT (NULL),
	[COMPREGNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPREGNO]  DEFAULT (NULL),
	[COMPTARIFFNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPTARIFFNO]  DEFAULT (NULL),
	[COMPEXNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPEXNO]  DEFAULT (NULL),
	[COMPDATE] [smalldatetime] NULL CONSTRAINT [DF_COMPANYMASTER_COMPDATE]  DEFAULT (NULL),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_COMPANYMASTER_DISPSTATUS]  DEFAULT ((0)),
	[CUSRID] [varchar](50) NOT NULL CONSTRAINT [DF_COMPANYMASTER_CUSRID]  DEFAULT (NULL),
	[LMUSRID] [varchar](50) NOT NULL CONSTRAINT [DF_COMPANYMASTER_LMUSRID]  DEFAULT ((0)),
	[PRCSDATE] [smalldatetime] NULL CONSTRAINT [DF_COMPANYMASTER_PRCSDATE]  DEFAULT (NULL),
	[STATEID] [int] NOT NULL CONSTRAINT [DF_COMPANYMASTER_STATEID_1]  DEFAULT ((0)),
	[COMPTANNO] [varchar](50) NULL CONSTRAINT [DF_COMPANYMASTER_COMPTANNO]  DEFAULT (NULL),
	[COMP_DSGNDESC] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC]  DEFAULT (NULL),
	[COMP_SMTP] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC4]  DEFAULT (NULL),
	[COMP_POP3] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC3]  DEFAULT (NULL),
	[COMP_SMTP_PORT] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC2]  DEFAULT (NULL),
	[COMP_POP3_PORT] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC1]  DEFAULT (NULL),
	[COMP_BANK_NAME] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT5]  DEFAULT (NULL),
	[COMP_BANK_BRNCH_NAME] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT4]  DEFAULT (NULL),
	[COMP_BANK_ACCT_NO] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT3]  DEFAULT (NULL),
	[COMP_BANK_ACCT_TYPE] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT2]  DEFAULT (NULL),
	[COMP_BANK_IFSC_CODE] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT1]  DEFAULT (NULL),
	[COMP_POLICY_NO] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_NO]  DEFAULT (NULL),
	[COMP_POLICY_DATE] [smalldatetime] NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_DATE]  DEFAULT (NULL),
	[COMP_LUT_NO] [varchar](100) NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_NO1]  DEFAULT (NULL),
	[COMP_LUT_DATE] [smalldatetime] NULL CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_DATE1]  DEFAULT (NULL),
	[COMPCOFFTIME] [datetime] NULL,
	[COMPPDESC1] [varchar](100) NULL,
	[COMPPDESC2] [varchar](100) NULL,
 CONSTRAINT [PK_COMPANYMASTER] PRIMARY KEY CLUSTERED 
(
	[COMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COMPANYACCOUNTINGDETAIL] ON 

INSERT [dbo].[COMPANYACCOUNTINGDETAIL] ([COMPYID], [COMPID], [YRID], [CUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, 1, 1, N'', 0, CAST(N'2022-02-17 00:00:00.000' AS DateTime))
INSERT [dbo].[COMPANYACCOUNTINGDETAIL] ([COMPYID], [COMPID], [YRID], [CUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, 1, 2, N'admin', 0, CAST(N'2022-04-18 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[COMPANYACCOUNTINGDETAIL] OFF
SET IDENTITY_INSERT [dbo].[COMPANYMASTER] ON 

SET IDENTITY_INSERT [dbo].[COMPANYMASTER] OFF
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPID]  DEFAULT ((0)) FOR [COMPID]
GO
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPPONAME]  DEFAULT (NULL) FOR [COMPPONAME]
GO
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPPOADDR]  DEFAULT (NULL) FOR [COMPPOADDR]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMPANYACCOUNTINGDETAIL_COMPANYMASTER] FOREIGN KEY([COMPID])
REFERENCES [dbo].[COMPANYMASTER] ([COMPID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] CHECK CONSTRAINT [FK_COMPANYACCOUNTINGDETAIL_COMPANYMASTER]
GO
ALTER TABLE [dbo].[COMPANYDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMPANYDETAIL_COMPANYMASTER] FOREIGN KEY([COMPID])
REFERENCES [dbo].[COMPANYMASTER] ([COMPID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPANYDETAIL] CHECK CONSTRAINT [FK_COMPANYDETAIL_COMPANYMASTER]
GO
