USE [MCT_ERP]
GO
/****** Object:  Table [dbo].[DEPARTMENTMASTER]    Script Date: 12/05/2022 13:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENTMASTER](
	[DEPTID] [int] IDENTITY(1,1) NOT NULL,
	[DEPTDESC] [varchar](100) NULL CONSTRAINT [DF_DEPARTMENTMASTER_DEPTDESC]  DEFAULT (NULL),
	[DEPTCODE] [varchar](15) NULL CONSTRAINT [DF_DEPARTMENTMASTER_DEPTCODE]  DEFAULT (NULL),
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_DEPARTMENTMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_DEPARTMENTMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_DEPARTMENTMASTER_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_DEPARTMENTMASTER] PRIMARY KEY CLUSTERED 
(
	[DEPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DESIGNATIONMASTER]    Script Date: 12/05/2022 13:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DESIGNATIONMASTER](
	[DSGNID] [int] IDENTITY(1,1) NOT NULL,
	[DSGNDESC] [varchar](100) NULL CONSTRAINT [DF_DESIGNATIONMASTER_DEPTDESC]  DEFAULT (NULL),
	[DSGNCODE] [varchar](15) NULL CONSTRAINT [DF_DESIGNATIONMASTER_DEPTCODE]  DEFAULT (NULL),
	[CUSRID] [varchar](100) NULL,
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_DESIGNATIONMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NULL CONSTRAINT [DF_DESIGNATIONMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NULL CONSTRAINT [DF_DESIGNATIONMASTER_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_DESIGNATIONMASTER] PRIMARY KEY CLUSTERED 
(
	[DSGNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEEMASTER]    Script Date: 12/05/2022 13:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEEMASTER](
	[CATEID] [int] IDENTITY(1,1) NOT NULL,
	[CATETID] [int] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATETID]  DEFAULT ((0)),
	[CATENAME] [varchar](100) NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATENAME]  DEFAULT (NULL),
	[CATEADDR1] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEADDR1]  DEFAULT (NULL),
	[CATEADDR2] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEADDR2]  DEFAULT (NULL),
	[CATEADDR3] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEADDR3]  DEFAULT (NULL),
	[CATEADDR4] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEADDR4]  DEFAULT (NULL),
	[CATEPHN1] [varchar](25) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEPHN1]  DEFAULT (NULL),
	[CATEPHN2] [varchar](25) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEPHN2]  DEFAULT (NULL),
	[CATEPHN3] [varchar](25) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEPHN3]  DEFAULT (NULL),
	[CATEPHN4] [varchar](25) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEPHN4]  DEFAULT (NULL),
	[CATECPNAME] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATECPNAME]  DEFAULT (NULL),
	[CATEEMAIL] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEEMAIL]  DEFAULT (NULL),
	[DEPTID] [int] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_DEPTID]  DEFAULT ((0)),
	[DSGNID] [int] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_DSGNID]  DEFAULT ((0)),
	[LOCTID] [int] NULL CONSTRAINT [DF_EMPLOYEEMASTER_LOCTID]  DEFAULT ((0)),
	[CATEDOB] [smalldatetime] NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEDOB]  DEFAULT (NULL),
	[CATEDOJ] [smalldatetime] NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEDOJ]  DEFAULT (NULL),
	[CATEDOC] [smalldatetime] NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEDOC]  DEFAULT (NULL),
	[CATEDOR] [smalldatetime] NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATEDOR]  DEFAULT (NULL),
	[CATESTATUS] [smallint] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATESTATUS]  DEFAULT ((0)),
	[CATECODE] [varchar](15) NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_CATECODE]  DEFAULT (NULL),
	[CUSRID] [varchar](100) NOT NULL,
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_EMPLOYEEMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_PRCSDATE]  DEFAULT (NULL),
	[REGNID] [int] NOT NULL CONSTRAINT [DF_EMPLOYEEMASTER_REGNID]  DEFAULT ((0)),
 CONSTRAINT [PK_EMPLOYEEMASTER] PRIMARY KEY CLUSTERED 
(
	[CATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENTMASTER] ON 

INSERT [dbo].[DEPARTMENTMASTER] ([DEPTID], [DEPTDESC], [DEPTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'Of all DEPTARMENT....!', N'ALL', N'Admin', NULL, 0, CAST(N'2022-02-23 15:02:09.030' AS DateTime))
INSERT [dbo].[DEPARTMENTMASTER] ([DEPTID], [DEPTDESC], [DEPTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'HR', N'HR', N'Admin', NULL, 0, CAST(N'2022-02-23 15:05:48.033' AS DateTime))
INSERT [dbo].[DEPARTMENTMASTER] ([DEPTID], [DEPTDESC], [DEPTCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'ACCOUNTS', N'ACCOUNTS', N'Admin', NULL, 0, CAST(N'2022-02-23 15:03:32.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[DEPARTMENTMASTER] OFF
SET IDENTITY_INSERT [dbo].[DESIGNATIONMASTER] ON 

INSERT [dbo].[DESIGNATIONMASTER] ([DSGNID], [DSGNDESC], [DSGNCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'LABOUR', N'LABOUR', N'Admin', NULL, 0, CAST(N'2022-02-23 15:07:35.027' AS DateTime))
INSERT [dbo].[DESIGNATIONMASTER] ([DSGNID], [DSGNDESC], [DSGNCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'GENERAL MANAGER', N'GM', N'Admin', NULL, 0, CAST(N'2022-02-23 15:08:00.077' AS DateTime))
INSERT [dbo].[DESIGNATIONMASTER] ([DSGNID], [DSGNDESC], [DSGNCODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'SUPERVISOR', N'SUP', N'Admin', NULL, 0, CAST(N'2022-02-23 15:08:23.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[DESIGNATIONMASTER] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEEMASTER] ON 

INSERT [dbo].[EMPLOYEEMASTER] ([CATEID], [CATETID], [CATENAME], [CATEADDR1], [CATEADDR2], [CATEADDR3], [CATEADDR4], [CATEPHN1], [CATEPHN2], [CATEPHN3], [CATEPHN4], [CATECPNAME], [CATEEMAIL], [DEPTID], [DSGNID], [LOCTID], [CATEDOB], [CATEDOJ], [CATEDOC], [CATEDOR], [CATESTATUS], [CATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [REGNID]) VALUES (4, 1, N'Admin', N'test no', NULL, NULL, NULL, NULL, NULL, N'6952314515', NULL, NULL, N'test@gmail.com', 6, 3, 0, NULL, NULL, NULL, NULL, 0, N'e0', N'admin', N'admin', 0, CAST(N'2022-02-25 13:26:42.290' AS DateTime), 0)
INSERT [dbo].[EMPLOYEEMASTER] ([CATEID], [CATETID], [CATENAME], [CATEADDR1], [CATEADDR2], [CATEADDR3], [CATEADDR4], [CATEPHN1], [CATEPHN2], [CATEPHN3], [CATEPHN4], [CATECPNAME], [CATEEMAIL], [DEPTID], [DSGNID], [LOCTID], [CATEDOB], [CATEDOJ], [CATEDOC], [CATEDOR], [CATESTATUS], [CATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [REGNID]) VALUES (5, 1, N'Raji', N'A 1', NULL, NULL, NULL, NULL, NULL, N'62654123562', NULL, NULL, NULL, 4, 1, 0, NULL, NULL, NULL, NULL, 0, N'R', N'raji', N'', 0, CAST(N'2022-03-07 15:39:43.607' AS DateTime), 0)
INSERT [dbo].[EMPLOYEEMASTER] ([CATEID], [CATETID], [CATENAME], [CATEADDR1], [CATEADDR2], [CATEADDR3], [CATEADDR4], [CATEPHN1], [CATEPHN2], [CATEPHN3], [CATEPHN4], [CATECPNAME], [CATEEMAIL], [DEPTID], [DSGNID], [LOCTID], [CATEDOB], [CATEDOJ], [CATEDOC], [CATEDOR], [CATESTATUS], [CATECODE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE], [REGNID]) VALUES (6, 1, N'Rani', N'A1', NULL, NULL, NULL, NULL, NULL, N'123654123654', NULL, NULL, NULL, 5, 3, 0, NULL, NULL, NULL, NULL, 0, N'RA', N'raji', N'', 0, CAST(N'2022-03-07 15:40:29.433' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[EMPLOYEEMASTER] OFF
