USE [DSFinFusion]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'LoanSubscriptionCollection', N'COLUMN',N'CollectionAmount'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoanSubscriptionCollection', @level2type=N'COLUMN',@level2name=N'CollectionAmount'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'LoanSubscriptionCollection', N'COLUMN',N'SuggestedAmount'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoanSubscriptionCollection', @level2type=N'COLUMN',@level2name=N'SuggestedAmount'
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Loan.Subscription.Pattern_Loan.Subscription.Master]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoanSubscriptionPattern]'))
ALTER TABLE [dbo].[LoanSubscriptionPattern] DROP CONSTRAINT [FK_Loan.Subscription.Pattern_Loan.Subscription.Master]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoanSubscriptionCollection_CollectionIntervalType]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoanSubscriptionCollection]'))
ALTER TABLE [dbo].[LoanSubscriptionCollection] DROP CONSTRAINT [FK_LoanSubscriptionCollection_CollectionIntervalType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LoanSubscriptionCollection_LoanSubscription]') AND parent_object_id = OBJECT_ID(N'[dbo].[LoanSubscriptionCollection]'))
ALTER TABLE [dbo].[LoanSubscriptionCollection] DROP CONSTRAINT [FK_LoanSubscriptionCollection_LoanSubscription]
GO
/****** Object:  Table [dbo].[LoanSubscriptionPattern]    Script Date: 03-08-2022 11:25:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoanSubscriptionPattern]') AND type in (N'U'))
DROP TABLE [dbo].[LoanSubscriptionPattern]
GO
/****** Object:  Table [dbo].[LoanSubscriptionCollection]    Script Date: 03-08-2022 11:25:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoanSubscriptionCollection]') AND type in (N'U'))
DROP TABLE [dbo].[LoanSubscriptionCollection]
GO
/****** Object:  Table [dbo].[LoanSubscriptionCollection]    Script Date: 03-08-2022 11:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanSubscriptionCollection](
	[LoanSubscriptionCollectionID] [int] IDENTITY(1,1) NOT NULL,
	[LoanSubscriptionID] [int] NOT NULL,
	[CollectionIntervalTypeID] [int] NOT NULL,
	[SuggestedAmount] [float] NOT NULL,
	[CollectionAmount] [float] NULL,
 CONSTRAINT [PK_Loan.PaymentInterval_1] PRIMARY KEY CLUSTERED 
(
	[LoanSubscriptionCollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanSubscriptionPattern]    Script Date: 03-08-2022 11:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanSubscriptionPattern](
	[PatternID] [int] IDENTITY(1,1) NOT NULL,
	[LoanSubscriptionID] [int] NOT NULL,
	[LoanInstalmentNo] [int] NOT NULL,
	[LoanInstalmentDate] [datetime] NOT NULL,
	[InterestPercentage] [float] NULL,
	[InterestAmount] [float] NULL,
	[PrincipalPercentage] [float] NULL,
	[PrincipalAmount] [float] NULL,
	[WaiverPercentage] [float] NULL,
	[WaiverAmount] [float] NULL,
	[NetCollectionAmount] [float] NULL,
 CONSTRAINT [PK_Loan.Subscription.Pattern] PRIMARY KEY CLUSTERED 
(
	[PatternID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoanSubscriptionCollection]  WITH CHECK ADD  CONSTRAINT [FK_LoanSubscriptionCollection_LoanSubscription] FOREIGN KEY([LoanSubscriptionID])
REFERENCES [dbo].[LoanSubscription] ([LoanSubscriptionID])
GO
ALTER TABLE [dbo].[LoanSubscriptionCollection] CHECK CONSTRAINT [FK_LoanSubscriptionCollection_LoanSubscription]
GO
ALTER TABLE [dbo].[LoanSubscriptionCollection]  WITH CHECK ADD  CONSTRAINT [FK_LoanSubscriptionCollection_CollectionIntervalType] FOREIGN KEY([CollectionIntervalTypeID])
REFERENCES [dbo].[MasterType] ([TypeID])
GO
ALTER TABLE [dbo].[LoanSubscriptionCollection] CHECK CONSTRAINT [FK_LoanSubscriptionCollection_CollectionIntervalType]
GO
ALTER TABLE [dbo].[LoanSubscriptionPattern]  WITH CHECK ADD  CONSTRAINT [FK_Loan.Subscription.Pattern_Loan.Subscription.Master] FOREIGN KEY([LoanSubscriptionID])
REFERENCES [dbo].[LoanSubscription] ([LoanSubscriptionID])
GO
ALTER TABLE [dbo].[LoanSubscriptionPattern] CHECK CONSTRAINT [FK_Loan.Subscription.Pattern_Loan.Subscription.Master]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The amount suggested by FinFusion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoanSubscriptionCollection', @level2type=N'COLUMN',@level2name=N'SuggestedAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The amount finalised by the Loan Manager' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoanSubscriptionCollection', @level2type=N'COLUMN',@level2name=N'CollectionAmount'
GO
