USE [DSFinFusion]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ChitSchemeCollection', N'COLUMN',N'CollectionAmount'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChitSchemeCollection', @level2type=N'COLUMN',@level2name=N'CollectionAmount'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ChitSchemeCollection', N'COLUMN',N'SuggestedAmount'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChitSchemeCollection', @level2type=N'COLUMN',@level2name=N'SuggestedAmount'
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Chit.Scheme.Pattern_Chit.Scheme.Master]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChitSchemePattern]'))
ALTER TABLE [dbo].[ChitSchemePattern] DROP CONSTRAINT [FK_Chit.Scheme.Pattern_Chit.Scheme.Master]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChitSchemeCollection_CollectionIntervalType]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChitSchemeCollection]'))
ALTER TABLE [dbo].[ChitSchemeCollection] DROP CONSTRAINT [FK_ChitSchemeCollection_CollectionIntervalType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChitSchemeCollection_ChitScheme]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChitSchemeCollection]'))
ALTER TABLE [dbo].[ChitSchemeCollection] DROP CONSTRAINT [FK_ChitSchemeCollection_ChitScheme]
GO
/****** Object:  Table [dbo].[ChitSchemePattern]    Script Date: 03-08-2022 11:25:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChitSchemePattern]') AND type in (N'U'))
DROP TABLE [dbo].[ChitSchemePattern]
GO
/****** Object:  Table [dbo].[ChitSchemeCollection]    Script Date: 03-08-2022 11:25:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChitSchemeCollection]') AND type in (N'U'))
DROP TABLE [dbo].[ChitSchemeCollection]
GO
/****** Object:  Table [dbo].[ChitSchemeCollection]    Script Date: 03-08-2022 11:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitSchemeCollection](
	[ChitSchemeCollectionID] [int] IDENTITY(1,1) NOT NULL,
	[ChitSchemeID] [int] NOT NULL,
	[CollectionIntervalTypeID] [int] NOT NULL,
	[SuggestedAmount] [float] NOT NULL,
	[CollectionAmount] [float] NULL,
 CONSTRAINT [PK_Chit.PaymentInterval_1] PRIMARY KEY CLUSTERED 
(
	[ChitSchemeCollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChitSchemePattern]    Script Date: 03-08-2022 11:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitSchemePattern](
	[PatternID] [int] IDENTITY(1,1) NOT NULL,
	[ChitSchemeID] [int] NOT NULL,
	[ChitInstalmentNo] [int] NOT NULL,
	[DiscountPercentage] [float] NULL,
	[DiscountAmount] [float] NULL,
	[DividentPercentage] [float] NULL,
	[DividentAmount] [float] NULL,
 CONSTRAINT [PK_Chit.Scheme.Pattern] PRIMARY KEY CLUSTERED 
(
	[PatternID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChitSchemeCollection]  WITH CHECK ADD  CONSTRAINT [FK_ChitSchemeCollection_ChitScheme] FOREIGN KEY([ChitSchemeID])
REFERENCES [dbo].[ChitScheme] ([ChitSchemeID])
GO
ALTER TABLE [dbo].[ChitSchemeCollection] CHECK CONSTRAINT [FK_ChitSchemeCollection_ChitScheme]
GO
ALTER TABLE [dbo].[ChitSchemeCollection]  WITH CHECK ADD  CONSTRAINT [FK_ChitSchemeCollection_CollectionIntervalType] FOREIGN KEY([CollectionIntervalTypeID])
REFERENCES [dbo].[MasterType] ([TypeID])
GO
ALTER TABLE [dbo].[ChitSchemeCollection] CHECK CONSTRAINT [FK_ChitSchemeCollection_CollectionIntervalType]
GO
ALTER TABLE [dbo].[ChitSchemePattern]  WITH CHECK ADD  CONSTRAINT [FK_Chit.Scheme.Pattern_Chit.Scheme.Master] FOREIGN KEY([ChitSchemeID])
REFERENCES [dbo].[ChitScheme] ([ChitSchemeID])
GO
ALTER TABLE [dbo].[ChitSchemePattern] CHECK CONSTRAINT [FK_Chit.Scheme.Pattern_Chit.Scheme.Master]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The amount suggested by lumina' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChitSchemeCollection', @level2type=N'COLUMN',@level2name=N'SuggestedAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The amount finalised by the Chit Manager' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChitSchemeCollection', @level2type=N'COLUMN',@level2name=N'CollectionAmount'
GO
