USE [FinFusion]
GO
/****** Object:  StoredProcedure [dbo].[PR_ACCOUNTINGYEAR_ID_CHK]    Script Date: 13/05/2022 11:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_ACCOUNTINGYEAR_ID_CHK] @PFYear INT, @PTYear INT AS

SET NOCOUNT ON

SELECT AccountingYear.YRID, AccountingYear.YRDESC, * FROM AccountingYear
WHERE Year(FDate)=@PFYear AND Year(TDate)=@PTYear