USE [FinFusion]
GO
/****** Object:  StoredProcedure [dbo].[PR_COMPANYACCOUNTINGDETAIL_ID_CHK]    Script Date: 12/05/2022 12:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_COMPANYACCOUNTINGDETAIL_ID_CHK] @PCompId Int,@PYrId Int AS

SET NOCOUNT ON

SELECT CompanyAccountingDetail.COMPYID, CompanyAccountingDetail.COMPID, CompanyAccountingDetail.YRID
FROM CompanyAccountingDetail
WHERE CompanyAccountingDetail.COMPID=@PCompId AND CompanyAccountingDetail.YRID=@PYrId