USE [FinFusion]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_State]    Script Date: 12/05/2022 13:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <12-05-2022>
-- Description:	<State Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_State] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
CREATE PROCEDURE [dbo].[pr_Search_Masters_State]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%' 	  
	set nocount on
	 Declare @TableMaster Table 
	 (
	   
	   STATECODE Varchar(100),
	   STATEDESC Varchar(100),	
	   STATETYPE Int , 	  
	   DISPSTATUS Int,	   
	   STATEID Int,	  
	   RowNum Int	 
	 )

	  INSERT INTO @TableMaster(STATECODE ,STATEDESC,STATETYPE, DISPSTATUS, STATEID, RowNum)
                 SELECT        STATECODE ,STATEDESC,STATETYPE, DISPSTATUS, STATEID,
								 Row_Number() OVER (
	            ORDER BY          
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/           
           
			 CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				  
				  WHEN 0 THEN (CASE DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN (CASE DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END
            END DESC ,
			 
			 CASE @SortDirection
              WHEN 'ASC'  THEN  
			    CASE @SortIndex
				   WHEN 1 THEN STATECODE
				   WHEN 2 THEN STATEDESC
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				 WHEN 1 THEN STATECODE
				 WHEN 2 THEN STATEDESC
				 
                END
            END DESC
            /*DATETIME ORDER BY*/                        
            ) AS RowNum
    FROM   STATEMASTER
	        

 /* CHANGE  TABLE NAME */
    WHERE   ( @FilterTerm IS NULL                
			  OR STATECODE LIKE @FilterTerm   
			  OR STATEDESC LIKE @FilterTerm  			   
			)                      				   
                      
       SELECT  STATECODE ,STATEDESC, CASE STATETYPE WHEN 0 THEN 'Local' WHEN 1 THEN 'InterState' END  AS STATETYPE
			, CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS,
	           STATEID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  STATEMASTER
	
   
   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

