USE [FinFusion]
GO
/****** Object:  Table [dbo].[STATEMASTER]    Script Date: 12/05/2022 13:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMASTER](
	[STATEID] [int] IDENTITY(1,1) NOT NULL,
	[STATEDESC] [varchar](100) NOT NULL CONSTRAINT [DF_STATEMASTER_LOCTDESC]  DEFAULT (NULL),
	[STATECODE] [varchar](15) NOT NULL CONSTRAINT [DF_STATEMASTER_LOCTCODE]  DEFAULT (NULL),
	[STATETYPE] [smallint] NOT NULL CONSTRAINT [DF_STATEMASTER_STATETYPE]  DEFAULT ((0)),
	[CUSRID] [varchar](100) NOT NULL CONSTRAINT [DF_STATEMASTER_CUSRID]  DEFAULT (NULL),
	[LMUSRID] [varchar](100) NULL CONSTRAINT [DF_STATEMASTER_LMUSRID]  DEFAULT (''),
	[DISPSTATUS] [smallint] NOT NULL CONSTRAINT [DF_STATEMASTER_DISPSTATUS]  DEFAULT ((0)),
	[PRCSDATE] [datetime] NOT NULL CONSTRAINT [DF_STATEMASTER_PRCSDATE]  DEFAULT (NULL),
 CONSTRAINT [PK_STATEMASTER] PRIMARY KEY CLUSTERED 
(
	[STATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[STATEMASTER] ON 

INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [STATETYPE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (1, N'TAMIL NADU', N'33', 0, N'Admin', NULL, 0, CAST(N'2022-02-23 15:10:13.923' AS DateTime))
INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [STATETYPE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (2, N'Of All State', N'ALL', 1, N'Admin', NULL, 0, CAST(N'2022-02-23 15:10:35.793' AS DateTime))
INSERT [dbo].[STATEMASTER] ([STATEID], [STATEDESC], [STATECODE], [STATETYPE], [CUSRID], [LMUSRID], [DISPSTATUS], [PRCSDATE]) VALUES (3, N'ANDHRA PRADESH OLD', N'28', 1, N'Admin', NULL, 0, CAST(N'2022-02-23 15:12:01.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[STATEMASTER] OFF
