USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_Category]    Script Date: 24/02/2022 13:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <23-02-2022>
-- Description:	<Category Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_Category] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_Category]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%' 	  
	set nocount on
	
     DECLARE @TableMaster TABLE 
	  ( 
	     CATECODE VARCHAR(100),
		 CATENAME VARCHAR(100),		
		 DISPSTATUS SMALLINT,
		 CATEID int ,
		 RowNum INT 
	  )


    INSERT INTO @TableMaster(CATECODE,CATENAME,DISPSTATUS,CATEID , RowNum)
    SELECT  CATECODE,CATENAME,DISPSTATUS, CATEID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN CATECODE
				  WHEN 1 THEN CATENAME
            
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				  WHEN 0 THEN CATECODE
                  WHEN 1 THEN CATENAME
             
               
                END
            END DESC
 
            
            /*DATETIME ORDER BY*/            

            
            ) AS RowNum
    FROM            dbo.CATEGORYMASTER (nolock) 
    WHERE   ( @FilterTerm IS NULL 
              OR CATECODE LIKE @FilterTerm
			  OR CATENAME LIKE @FilterTerm
             )


    SELECT CATECODE,CATENAME
			,CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END AS DISPSTATUS
			, CATEID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*) FROM   dbo.CATEGORYMASTER 
	

    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        


END

