USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_LeasingSlab]    Script Date: 03/03/2022 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <01-03-2022>
-- Description:	<Leasing Slab Master Details>
-- =============================================
/*
DECLARE @total INT,
        @filtered INT

EXEC [dbo].[pr_Search_Masters_LeasingSlab] NULL, 1, 'ASC', 1, 10,  @total OUTPUT, @filtered OUTPUT,
3,4

SELECT @total, @filtered
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_LeasingSlab]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  , @PTARIFFMID INT		
  ,	@PSTMRID INT		
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%'
	declare @LTARIFFMID INT	,@LSTMRID INT

		set @LTARIFFMID=@PTARIFFMID		
		set @LSTMRID=@PSTMRID

	 Declare @TableMaster Table 
	 (
	   
	    LSLABMDATE smalldatetime
      , PRICECODE Varchar(20)	  
	  , COMPTDESC varchar(150)	
	  , DMGDESC Varchar(150)   	  
	  , LRPRDESC Varchar(150)
	  , LLENGTH numeric(18,2)	  
	  , LWIDTH numeric(18,2)
	  , UNITDESC Varchar(150)
	  , LSLABHRS numeric(18,2)
	  , LSLABAMT numeric(18,2)
	  , LSLABMID int 
      , RowNum INT
	 )

	  INSERT INTO @TableMaster(LSLABMDATE,PRICECODE,COMPTDESC, DMGDESC,LRPRDESC,LLENGTH,LWIDTH,UNITDESC,LSLABHRS,LSLABAMT, LSLABMID, RowNum)
                 SELECT        LEASINGSLABMASTER.LSLABMDATE,LEASINGSLABMASTER.PRICECODE,COMPTDESC,DMGDESC,LRPRDESC,LEASINGSLABMASTER.LLENGTH,LEASINGSLABMASTER.LWIDTH,UNITDESC,LEASINGSLABMASTER.LSLABHRS,LEASINGSLABMASTER.LSLABAMT,LEASINGSLABMASTER.LSLABMID, Row_Number() OVER (
            ORDER BY
            
            /*DATETIME ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN LEASINGSLABMASTER.LSLABMDATE
                 
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN LEASINGSLABMASTER.LSLABMDATE
                 
               
                END
            END DESC, 
            
            /*VARCHAR ORDER BY*/
              CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex                
                  
				  WHEN 1 THEN LEASINGSLABMASTER.PRICECODE	              
				  WHEN 2 THEN EMPTY_COMPONENTCODEMASTER.COMPTDESC
				  WHEN 3 THEN EMPTY_DAMAGECODEMASTER.DMGDESC  
				  WHEN 4 THEN EMPTY_LEASING_REPAIRCODEMASTER.LRPRDESC 
				  WHEN 5 THEN UNITMASTER.UNITDESC
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex                 
                  WHEN 1 THEN LEASINGSLABMASTER.PRICECODE	              
				  WHEN 2 THEN EMPTY_COMPONENTCODEMASTER.COMPTDESC
				  WHEN 3 THEN EMPTY_DAMAGECODEMASTER.DMGDESC  
				  WHEN 4 THEN EMPTY_LEASING_REPAIRCODEMASTER.LRPRDESC 
				  WHEN 5 THEN UNITMASTER.UNITDESC
                END
            END DESC,

			    CASE @SortDirection
              WHEN 'ASC'  THEN
 CASE @SortIndex
                
          
	              WHEN 6 THEN LEASINGSLABMASTER.LLENGTH
				  WHEN 7 THEN LEASINGSLABMASTER.LWIDTH 
				   WHEN 8 THEN LEASINGSLABMASTER.LSLABHRS 
				   WHEN 9 THEN LEASINGSLABMASTER.LSLABAMT 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                                   
	              WHEN 6 THEN LEASINGSLABMASTER.LLENGTH
				  WHEN 7 THEN LEASINGSLABMASTER.LWIDTH 
				   WHEN 8 THEN LEASINGSLABMASTER.LSLABHRS 
				   WHEN 9 THEN LEASINGSLABMASTER.LSLABAMT 
               
                END
            END DESC
            
            ) AS RowNum
    FROM   LEASINGSLABMASTER LEFT JOIN  
	       EMPTY_LEASING_REPAIRCODEMASTER (NOLOCK) ON LEASINGSLABMASTER.LRPRID = EMPTY_LEASING_REPAIRCODEMASTER.LRPRID  Left Join 
		   EMPTY_DAMAGECODEMASTER (NOLOCK) ON LEASINGSLABMASTER.DMGID = EMPTY_DAMAGECODEMASTER.DMGID  Left Join  
		   EMPTY_COMPONENTCODEMASTER (NOLOCK) ON LEASINGSLABMASTER.COMPTID = EMPTY_COMPONENTCODEMASTER.COMPTID  Left Join 
		   UNITMASTER (NOLOCK) ON LEASINGSLABMASTER.UNITID = UNITMASTER.UNITID  Inner Join 
		   VW_Leasing_Slab_Latest_Ratecard (NOLOCK) ON LEASINGSLABMASTER.LSLABMID = VW_Leasing_Slab_Latest_Ratecard.LSLABMID

 /* CHANGE  TABLE NAME */
     WHERE  (LEASINGSLABMASTER.TARIFFMID=@LTARIFFMID) and  (LEASINGSLABMASTER.STMRID = @LSTMRID OR @LSTMRID = 0)  
	         and (@FilterTerm IS NULL 
              OR LEASINGSLABMASTER.LSLABMDATE LIKE @FilterTerm              
			  OR LEASINGSLABMASTER.PRICECODE LIKE @FilterTerm  			  
              OR EMPTY_LEASING_REPAIRCODEMASTER.LRPRDESC LIKE @FilterTerm         
			  OR EMPTY_DAMAGECODEMASTER.DMGDESC LIKE @FilterTerm  			  
              OR EMPTY_COMPONENTCODEMASTER.COMPTDESC LIKE @FilterTerm                
			  OR UNITMASTER.UNITDESC LIKE @FilterTerm  
              OR LEASINGSLABMASTER.LLENGTH LIKE @FilterTerm   
			  OR LEASINGSLABMASTER.LWIDTH LIKE @FilterTerm   
			  OR LEASINGSLABMASTER.LSLABHRS LIKE @FilterTerm   
			  OR LEASINGSLABMASTER.LSLABAMT LIKE @FilterTerm   
			  )
                      				   
                      
       SELECT Convert(varchar(10),  LSLABMDATE,103 ) as LSLABMDATE,PRICECODE, COMPTDESC,DMGDESC,LRPRDESC,
	          LLENGTH,LWIDTH,UNITDESC,LSLABHRS,LSLABAMT, LSLABMID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  LEASINGSLABMASTER LEFT JOIN  
	       EMPTY_LEASING_REPAIRCODEMASTER (NOLOCK) ON LEASINGSLABMASTER.LRPRID = EMPTY_LEASING_REPAIRCODEMASTER.LRPRID  Left Join 
		   EMPTY_DAMAGECODEMASTER (NOLOCK) ON LEASINGSLABMASTER.DMGID = EMPTY_DAMAGECODEMASTER.DMGID  Left Join  
		   EMPTY_COMPONENTCODEMASTER (NOLOCK) ON LEASINGSLABMASTER.COMPTID = EMPTY_COMPONENTCODEMASTER.COMPTID  Left Join 
		   UNITMASTER (NOLOCK) ON LEASINGSLABMASTER.UNITID = UNITMASTER.UNITID  Inner Join 
		   VW_Leasing_Slab_Latest_Ratecard (NOLOCK) ON LEASINGSLABMASTER.LSLABMID = VW_Leasing_Slab_Latest_Ratecard.LSLABMID

 /* CHANGE  TABLE NAME */
     WHERE  (LEASINGSLABMASTER.TARIFFMID=@LTARIFFMID) and  (LEASINGSLABMASTER.STMRID = @LSTMRID OR @LSTMRID = 0)   

   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

