USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_Yard]    Script Date: 24/02/2022 15:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <18-02-2022>
-- Description:	<Yard Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_Yard] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_Yard]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'
	set nocount on
    DECLARE @TableMaster TABLE
    ( 
	    YRDCODE VARCHAR(100)
      , YRDDESC VARCHAR(100)
	  , DISPSTATUS int
	  , YRDID int 
      , RowNum INT
    )

    INSERT INTO @TableMaster(YRDCODE,
YRDDESC,DISPSTATUS,YRDID, RowNum)
    SELECT  YRDCODE
            , YRDDESC,DISPSTATUS
            , YRDID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN YRDCODE
                  WHEN 1 THEN YRDDESC
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN YRDCODE
                  WHEN 1 THEN YRDDESC				
               
                END
            END DESC 
            
            /*DATETIME ORDER BY*/
             

            
            ) AS RowNum
    FROM    dbo.YARDMASTER  /* CHANGE  TABLE NAME */
    WHERE   @FilterTerm IS NULL 
              OR YRDCODE LIKE @FilterTerm
              OR YRDDESC LIKE @FilterTerm
            

    SELECT YRDCODE
            , YRDDESC
			,
			  CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS
			 ,YRDID
    FROM    @TableMaster
    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM   dbo.YARDMASTER   /* CHANGE  TABLE NAME */
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END

