USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_EmptySlab]    Script Date: 28/02/2022 15:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <23-02-2022>
-- Description:	<Empty Slab Master Details>
-- =============================================
/*
DECLARE @total INT,
        @filtered INT

EXEC [dbo].[pr_Search_Masters_EmptySlab] NULL, 1, 'ASC', 1, 10,  @total OUTPUT, @filtered OUTPUT,
2,1

SELECT @total, @filtered
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_EmptySlab]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  , @PTARIFFMID INT		
  ,	@PSLABTID INT		
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%'
	declare @LTARIFFMID INT	,@LSLABTID INT

		set @LTARIFFMID=@PTARIFFMID		
		set @LSLABTID=@PSLABTID

	 Declare @TableMaster Table 
	 (
	   
	    SLABMDATE smalldatetime
      , CONTNRSID int	  
	  , SDTYPE smallint
	  , SLABMIN numeric(18,2)
	  , SLABMAX numeric(18,2)
	  , SLABAMT numeric(18,2)	  
	  , SLABMID int 
      , RowNum INT
	 )

	  INSERT INTO @TableMaster(SLABMDATE ,CONTNRSID,SDTYPE ,SLABMIN ,SLABMAX ,SLABAMT, SLABMID, RowNum)
                 SELECT        SLABMDATE,EMPTY_SLABMASTER.CONTNRSID,EMPTY_SLABMASTER.SDTYPE  ,SLABMIN ,SLABMAX ,SLABAMT, SLABMID, Row_Number() OVER (
            ORDER BY
            
            /*DATETIME ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN EMPTY_SLABMASTER.SLABMDATE
                 
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN EMPTY_SLABMASTER.SLABMDATE
                 
               
                END
            END DESC, 
            
            /*VARCHAR ORDER BY*/
              CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex                
                  
				  WHEN 1 THEN EMPTY_SLABMASTER.CONTNRSID	              
				  WHEN 2 THEN EMPTY_SLABMASTER.SDTYPE 
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex                 
                  WHEN 1 THEN EMPTY_SLABMASTER.CONTNRSID	              
				  WHEN 2 THEN EMPTY_SLABMASTER.SDTYPE 
                END
            END DESC,

			    CASE @SortDirection
              WHEN 'ASC'  THEN
 CASE @SortIndex
                
          
	              WHEN 6 THEN SLABMIN
				  WHEN 7 THEN SLABMAX 
				   WHEN 8 THEN SLABAMT 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                 
                  
	              WHEN 6 THEN SLABMIN
				  WHEN 7 THEN SLABMAX 
				   WHEN 8 THEN SLABAMT 		
               
                END
            END DESC
            
            ) AS RowNum
    FROM   EMPTY_SLABMASTER  LEFT JOIN
                      dbo.VW_EMPTY_RATECARDMASTER_FLX_ASSGN_02 (NOLOCK) ON dbo.EMPTY_SLABMASTER.TARIFFMID = dbo.VW_EMPTY_RATECARDMASTER_FLX_ASSGN_02.TARIFFMID 

 /* CHANGE  TABLE NAME */
    WHERE  (EMPTY_SLABMASTER.TARIFFMID=@LTARIFFMID) and (EMPTY_SLABMASTER.SLABTID=@LSLABTID) and (@FilterTerm IS NULL 
              OR SLABMDATE LIKE @FilterTerm              
			  OR EMPTY_SLABMASTER.CONTNRSID LIKE @FilterTerm  			  
              OR EMPTY_SLABMASTER.SDTYPE LIKE @FilterTerm                
			  OR EMPTY_SLABMASTER.SLABMIN LIKE @FilterTerm  
              OR EMPTY_SLABMASTER.SLABMAX LIKE @FilterTerm   
			  OR EMPTY_SLABMASTER.SLABAMT LIKE @FilterTerm   
			  )
                      				   
                      
       SELECT Convert(varchar(10),  SLABMDATE,103 ) as SLABMDATE
            ,CASE CONTNRSID WHEN 2 THEN 'NR' WHEN 3 THEN '20' WHEN 4 THEN '40'  WHEN 5 THEN '45' END  AS CONTNRSID			
			,CASE SDTYPE WHEN 0 THEN 'NR' WHEN 1 THEN 'R'  END  AS SDTYPE ,SLABMIN ,SLABMAX ,SLABAMT
			,SLABMID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  EMPTY_SLABMASTER  Left JOIN
                      dbo.VW_EMPTY_RATECARDMASTER_FLX_ASSGN_02 ON dbo.EMPTY_SLABMASTER.TARIFFMID = dbo.VW_EMPTY_RATECARDMASTER_FLX_ASSGN_02.TARIFFMID 

   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

