USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_EmptySlabType]    Script Date: 17/02/2022 19:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <17-02-2022>
-- Description:	<Empty Responsibility Code Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_EmptySlabType] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_EmptySlabType]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
 
AS BEGIN
    --Wrap filter term with % to search for values that contain @FilterTerm
    SET @FilterTerm = '%' + @FilterTerm + '%'

    DECLARE @TableMaster TABLE
    ( 
	SLABTCODE VARCHAR(100)
      ,SLABTDESC VARCHAR(100)
	  ,DISPSTATUS SMALLINT
	  , SLABTID int 
      , RowNum INT
    )

    INSERT INTO @TableMaster(SLABTCODE,
SLABTDESC,DISPSTATUS, SLABTID , RowNum)
    SELECT   SLABTCODE
            , SLABTDESC,DISPSTATUS
            , SLABTID
            , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN SLABTCODE
                  WHEN 1 THEN SLABTDESC
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN SLABTCODE
                  WHEN 1 THEN SLABTDESC				
               
                END
            END DESC 
            
            /*DATETIME ORDER BY*/
             

            
            ) AS RowNum
    FROM    dbo.EMPTY_SLABTYPEMASTER  /* CHANGE  TABLE NAME */
    WHERE   @FilterTerm IS NULL 
              OR SLABTCODE LIKE @FilterTerm
              OR SLABTDESC LIKE @FilterTerm
            

    SELECT SLABTCODE
            , SLABTDESC
			, CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS
			,SLABTID
    FROM    @TableMaster
    
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM   dbo.EMPTY_SLABTYPEMASTER   /* CHANGE  TABLE NAME */
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster
        
END
RETURN 0
