USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_ContainerSize]    Script Date: 15/02/2022 18:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <14-02-2022>
-- Description:	<Container Size Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_ContainerSize] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
CREATE PROCEDURE [dbo].[pr_Search_Masters_ContainerSize]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%' 	  
	set nocount on
	 Declare @TableMaster Table 
	 (
	   
	   CONTNRSDESC Varchar(100),
	   CONTNRSCODE Varchar(100),	  	  
	   DISPSTATUS Int,	   
	   CONTNRSID Int,	  
	   RowNum Int	 
	 )

	  INSERT INTO @TableMaster(CONTNRSDESC ,CONTNRSCODE, DISPSTATUS, CONTNRSID, RowNum)
                 SELECT          CONTAINERSIZEMASTER.CONTNRSDESC ,CONTAINERSIZEMASTER.CONTNRSCODE,
	                              CONTAINERSIZEMASTER.DISPSTATUS,
								 CONTAINERSIZEMASTER.CONTNRSID,
								 Row_Number() OVER (
	            ORDER BY          
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/           
           
			 CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				  
				  WHEN 0 THEN (CASE CONTAINERSIZEMASTER.DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN (CASE CONTAINERSIZEMASTER.DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END
            END DESC ,
			 
			 CASE @SortDirection
              WHEN 'ASC'  THEN  
			    CASE @SortIndex
				   WHEN 1 THEN CONTAINERSIZEMASTER.CONTNRSDESC
				   WHEN 2 THEN CONTAINERSIZEMASTER.CONTNRSCODE
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				WHEN 1 THEN CONTAINERSIZEMASTER.CONTNRSDESC
				   WHEN 2 THEN CONTAINERSIZEMASTER.CONTNRSCODE
				 
                END
            END DESC
            /*DATETIME ORDER BY*/                        
            ) AS RowNum
    FROM   CONTAINERSIZEMASTER
	        

 /* CHANGE  TABLE NAME */
    WHERE    (@FilterTerm IS NULL  
              
			   OR CONTAINERSIZEMASTER.CONTNRSDESC LIKE @FilterTerm  
			   OR CONTAINERSIZEMASTER.CONTNRSCODE LIKE @FilterTerm  
			   
				  )
                      				   
                      
       SELECT  CONTNRSCODE ,CONTNRSDESC, CASE DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END AS DISPSTATUS,
	           CONTNRSID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  CONTAINERSIZEMASTER
	
   
   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

