USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Empty_GateOutDetails]    Script Date: 09/03/2022 12:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <04-03-2022>
-- Description:	<Empty Gate Out Details>
/*
DECLARE @total INT,
        @filtered INT
EXEC [dbo].[pr_Search_Empty_GateOutDetails] NULL, 1, 'ASC', 1, 10,  @total OUTPUT, @filtered OUTPUT, '2022-03-05','2022-03-07',1

SELECT @total, @filtered
*/
-- =============================================
ALTER PROCEDURE [dbo].[pr_Search_Empty_GateOutDetails]  /* CHANGE */
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
        , @StartRowNum INT = 1 --the first row to return
        , @EndRowNum INT = 10 --the last row to return
        , @TotalRowsCount INT OUTPUT
        , @FilteredRowsCount INT OUTPUT
        , @PSDate Smalldatetime
        , @PEDate Smalldatetime
		,@PCompyid int
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%'

	declare @LCompyid int 
	set @LCompyid=@PCompyid
    DECLARE @TableMaster TABLE
    ( 
        GODATE SMALLDATETIME
      , GONO INT
      , GODNO VARCHAR(15)
      , CONTNRNO  VARCHAR(15)
      , CONTNRSDESC  varchar(100) 
	  , CONTNRTDESC varchar(100)
	  , VHLNO varchar(20)
	  , VSLDESC VARCHAR(100)	       
      , STMRNAME VARCHAR(150)	 
	  , GRADEDESC VARCHAR(150)
	  , DISPSTATUS int
	  , REGSTRID int
	  , SDPTID int
	  , GIDID int 
	  , GODID int 	 
      , RowNum INT
    )

	 INSERT INTO @TableMaster(GODATE, GONO, GODNO, CONTNRNO,CONTNRSDESC,CONTNRTDESC,
	                          VHLNO,VSLDESC ,STMRNAME,GRADEDESC,DISPSTATUS ,REGSTRID, SDPTID,  GIDID,GODID, RowNum)
     SELECT  GODATE, GONO, GIDNO, CONTNRNO, CONTAINERSIZEMASTER.CONTNRSDESC,CONTNRTDESC,
	  EMPTY_GATEOUTDETAIL.VHLNO,VESSELMASTER.VSLDESC ,CATEGORYMASTER.CATENAME,GRADEMASTER.GRADEDESC, EMPTY_GATEOUTDETAIL.DISPSTATUS , 
	  EMPTY_GATEOUTDETAIL.REGSTRID,EMPTY_GATEOUTDETAIL.SDPTID,
	  EMPTY_GATEOUTDETAIL.GIDID,EMPTY_GATEOUTDETAIL.GODID , Row_Number() OVER (
            ORDER BY
            
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				
           	       WHEN 2 then GODNO
			  	   WHEN 3 then CONTNRNO			  	 
				   WHEN 5 then CONTAINERSIZEMASTER.CONTNRSDESC
			  	   WHEN 6 then CONTNRTDESC
			       WHEN 7 then EMPTY_GATEOUTDETAIL.VHLNO
				   WHEN 8 then VESSELMASTER.VSLDESC
				   WHEN 9 then CATEGORYMASTER.CATENAME
				   WHEN 10 then GRADEMASTER.GRADEDESC
			  	   
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex

           	       WHEN 2 then GODNO
			  	   WHEN 3 then CONTNRNO			  	 
				   WHEN 5 then CONTAINERSIZEMASTER.CONTNRSDESC
			  	   WHEN 6 then CONTNRTDESC
			       WHEN 7 then EMPTY_GATEOUTDETAIL.VHLNO
				   WHEN 8 then VESSELMASTER.VSLDESC
				   WHEN 9 then CATEGORYMASTER.CATENAME
				   WHEN 10 then GRADEMASTER.GRADEDESC
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN GODATE
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN GODATE
                END
            END DESC,
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				  WHEN 1 then GONO
                  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				  WHEN 1 then GONO
                  
                END
            END DESC                            

            ) AS RowNum
   FROM   EMPTY_GATEOUTDETAIL (nolock) INNER JOIN  
          EMPTY_GATEINDETAIL (nolock) On EMPTY_GATEOUTDETAIL.GIDID  = EMPTY_GATEINDETAIL.GIDID 
           Left JOIN CONTAINERTYPEMASTER (NOLOCK) ON EMPTY_GATEINDETAIL.CONTNRTID  = CONTAINERTYPEMASTER.CONTNRTID 
		   Left JOIN CONTAINERSIZEMASTER  (NOLOCK) ON EMPTY_GATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID  
		   Left JOIN VESSELMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.VSLID = VESSELMASTER.VSLID  
		   Left JOIN CATEGORYMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.STMRID = CATEGORYMASTER.CATEID 
		   Left JOIN GRADEMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.GRADEID = GRADEMASTER.GRADEID 
    WHERE   (GODATE BETWEEN @PSDate AND @PEDate) and (EMPTY_GATEOUTDETAIL.COMPYID=@LCompyid) AND EMPTY_GATEOUTDETAIL.SDPTID=8 
	        AND EMPTY_GATEINDETAIL.CONTNRSID > 0 AND CONTNRID >= 0 AND (@FilterTerm IS NULL 
              OR  GODATE LIKE @FilterTerm 
              OR  GONO LIKE @FilterTerm 
              OR  GODNO  LIKE @FilterTerm 
              OR  CONTAINERSIZEMASTER.CONTNRSDESC  LIKE @FilterTerm 
              OR  CONTNRNO    LIKE @FilterTerm 
              OR  CONTNRTDESC    LIKE @FilterTerm 
			  OR  EMPTY_GATEOUTDETAIL.VHLNO LIKE @FilterTerm 
              OR  VESSELMASTER.VSLDESC  LIKE @FilterTerm 
              OR  CATEGORYMASTER.CATENAME    LIKE @FilterTerm   
			  OR  GRADEMASTER.GRADEDESC    LIKE @FilterTerm   
			 
		      OR  PRDTDESC    LIKE @FilterTerm )  

	  SELECT Convert(varchar(10), GODATE,103 ) as GODATE, GONO, GODNO, CONTNRNO,CONTNRSDESC,CONTNRTDESC,
	         VHLNO,VSLDESC ,STMRNAME,GRADEDESC, CASE DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END AS DISPSTATUS,REGSTRID, SDPTID, GIDID ,GODID
	  FROM    @TableMaster WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum
    
    SELECT @TotalRowsCount = COUNT(*)
    FROM        EMPTY_GATEOUTDETAIL (nolock) INNER JOIN  
          EMPTY_GATEINDETAIL (nolock) On EMPTY_GATEOUTDETAIL.GIDID  = EMPTY_GATEINDETAIL.GIDID 
           Left JOIN CONTAINERTYPEMASTER (NOLOCK) ON EMPTY_GATEINDETAIL.CONTNRTID  = CONTAINERTYPEMASTER.CONTNRTID 
		   Left JOIN CONTAINERSIZEMASTER  (NOLOCK) ON EMPTY_GATEINDETAIL.CONTNRSID = CONTAINERSIZEMASTER.CONTNRSID  
		   Left JOIN VESSELMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.VSLID = VESSELMASTER.VSLID  
		   Left JOIN CATEGORYMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.STMRID = CATEGORYMASTER.CATEID 
		   Left JOIN GRADEMASTER   (NOLOCK) ON EMPTY_GATEINDETAIL.GRADEID = GRADEMASTER.GRADEID 
    WHERE   (GODATE BETWEEN @PSDate AND @PEDate) and (EMPTY_GATEOUTDETAIL.COMPYID=@LCompyid) AND EMPTY_GATEOUTDETAIL.SDPTID=8 
	        AND EMPTY_GATEINDETAIL.CONTNRSID > 0 AND CONTNRID >= 0
    
    SELECT @FilteredRowsCount = COUNT(*)
    FROM   @TableMaster

	 
END
