USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_ConditionMaster]    Script Date: 15/02/2022 16:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <14-02-2022>
-- Description:	<Condition Master Details>
-- =============================================
/*
declare @tcnt int, @fcnt int
exec [pr_Search_Masters_ConditionMaster] null,1,'asc',1,10, @tcnt  output, @fcnt output
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_ConditionMaster]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%' 	  
	set nocount on
	 Declare @TableMaster Table 
	 (
	   
	   CONDTNDESC Varchar(100),
	   CONDTNCODE Varchar(100),	  	  
	   DISPSTATUS Int,	   
	   CONDTNID Int,	  
	   RowNum Int	 
	 )

	  INSERT INTO @TableMaster(CONDTNDESC ,CONDTNCODE, DISPSTATUS, CONDTNID, RowNum)
                 SELECT          CONDITIONMASTER.CONDTNDESC ,CONDITIONMASTER.CONDTNCODE,
	                              CONDITIONMASTER.DISPSTATUS,
								 CONDITIONMASTER.CONDTNID,
								 Row_Number() OVER (
	            ORDER BY          
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/           
           
			 CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
				  
				  WHEN 0 THEN (CASE CONDITIONMASTER.DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN (CASE CONDITIONMASTER.DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END)     
                END
            END DESC ,
			 
			 CASE @SortDirection
              WHEN 'ASC'  THEN  
			    CASE @SortIndex
				   WHEN 1 THEN CONDITIONMASTER.CONDTNDESC
				   WHEN 2 THEN CONDITIONMASTER.CONDTNCODE
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
				 WHEN 1 THEN CONDITIONMASTER.CONDTNDESC
				 WHEN 2 THEN CONDITIONMASTER.CONDTNCODE
				 
                END
            END DESC
            /*DATETIME ORDER BY*/                        
            ) AS RowNum
    FROM   CONDITIONMASTER
	        

 /* CHANGE  TABLE NAME */
    WHERE    (@FilterTerm IS NULL  
              
			   OR CONDITIONMASTER.CONDTNDESC LIKE @FilterTerm  
			   OR CONDITIONMASTER.CONDTNCODE LIKE @FilterTerm  
			   
				  )
                      				   
                      
       SELECT  CONDTNCODE ,CONDTNDESC, CASE DISPSTATUS WHEN 0 THEN 'Enabled' when 1 then 'Disabled'  END AS DISPSTATUS,
	           CONDTNID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  CONDITIONMASTER
	
   
   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

