USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Masters_RepairSlab]    Script Date: 02/03/2022 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yamuna J>
-- Create date: <01-03-2022>
-- Description:	<Repair Slab Master Details>
-- =============================================
/*
DECLARE @total INT,
        @filtered INT

EXEC [dbo].[pr_Search_Masters_RepairSlab] NULL, 1, 'ASC', 1, 10,  @total OUTPUT, @filtered OUTPUT,
2,0

SELECT @total, @filtered
*/
ALTER PROCEDURE [dbo].[pr_Search_Masters_RepairSlab]
    @FilterTerm nvarchar(250) = NULL --parameter to search all columns by
  , @SortIndex INT = 1 -- a one based index to indicate which column to order by
  , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC
  , @StartRowNum INT = 1 --the first row to return
  , @EndRowNum INT = 10 --the last row to return
  , @TotalRowsCount INT OUTPUT
  , @FilteredRowsCount INT OUTPUT
  , @PTARIFFMID INT		
  ,	@PSTMRID INT		
  
AS
BEGIN
	 SET @FilterTerm = '%' + @FilterTerm + '%' 
	 set nocount on
	declare @LTARIFFMID INT	,@LSTMRID INT

		set @LTARIFFMID=@PTARIFFMID		
		set @LSTMRID=@PSTMRID

	 Declare @TableMaster Table 
	 (
	   
	    RSLABMDATE smalldatetime
      , WRMMODE Varchar(20)
	  , RPRDESC varchar(250)
	  , RPRTDESC varchar(250)	   	  
	  , RSLABHRS numeric(18,2)
	  , RSLABHAMT numeric(18,2)
	  , RSLABMAMT numeric(18,2)	  
	  , RSLABTAMT numeric(18,2)
	  , RSLABMID int 
      , RowNum INT
	 )

	  INSERT INTO @TableMaster(RSLABMDATE,WRMMODE,RPRDESC,RPRTDESC, RSLABHRS,RSLABHAMT,RSLABMAMT,RSLABTAMT, RSLABMID, RowNum)
                 SELECT        REPAIRSLABMASTER.RSLABMDATE,REPAIRSLABMASTER.WRMMODE,EMPTY_REPAIRCODEMASTER.RPRDESC,REPAIRPARTMASTER.RPRTDESC,
				               REPAIRSLABMASTER.RSLABHRS,REPAIRSLABMASTER.RSLABHAMT,REPAIRSLABMASTER.RSLABMAMT,REPAIRSLABMASTER.RSLABTAMT,REPAIRSLABMASTER.RSLABMID, Row_Number() OVER (
            ORDER BY
            
            /*DATETIME ORDER BY*/
            
            CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex
                  WHEN 0 THEN REPAIRSLABMASTER.RSLABMDATE
                 
	 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                  WHEN 0 THEN REPAIRSLABMASTER.RSLABMDATE
                 
               
                END
            END DESC, 
            
            /*VARCHAR ORDER BY*/
              CASE @SortDirection
              WHEN 'ASC'  THEN
                CASE @SortIndex                
                  
				  WHEN 1 THEN REPAIRSLABMASTER.WRMMODE	              
				  WHEN 2 THEN EMPTY_REPAIRCODEMASTER.RPRDESC 
				  WHEN 3 THEN REPAIRPARTMASTER.RPRTDESC  
				  
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex                 
                  WHEN 1 THEN REPAIRSLABMASTER.WRMMODE	              
				  WHEN 2 THEN EMPTY_REPAIRCODEMASTER.RPRDESC 
				  WHEN 3 THEN REPAIRPARTMASTER.RPRTDESC  
                END
            END DESC,

			    CASE @SortDirection
              WHEN 'ASC'  THEN
 CASE @SortIndex
                
          
	              WHEN 4 THEN REPAIRSLABMASTER.RSLABHRS
				  WHEN 6 THEN REPAIRSLABMASTER.RSLABHAMT 
				   WHEN 7 THEN REPAIRSLABMASTER.RSLABMAMT 
				   WHEN 8 THEN REPAIRSLABMASTER.RSLABTAMT 
                END             
            END ASC,
            CASE @SortDirection
              WHEN 'DESC' THEN 
                CASE @SortIndex
                 
                  
	              WHEN 4 THEN REPAIRSLABMASTER.RSLABHRS
				  WHEN 6 THEN REPAIRSLABMASTER.RSLABHAMT 
				   WHEN 7 THEN REPAIRSLABMASTER.RSLABMAMT 
				   WHEN 8 THEN REPAIRSLABMASTER.RSLABTAMT 	
               
                END
            END DESC
            
            ) AS RowNum
    FROM   REPAIRSLABMASTER LEFT JOIN  
	       EMPTY_TARIFFMASTER (NOLOCK) ON REPAIRSLABMASTER.TARIFFMID = EMPTY_TARIFFMASTER.TARIFFMID  Left Join 
		   REPAIRPARTMASTER (NOLOCK) ON REPAIRSLABMASTER.RPRTID = REPAIRPARTMASTER.RPRTID  Left Join  
		   EMPTY_REPAIRCODEMASTER (NOLOCK) ON REPAIRPARTMASTER.RPRID = EMPTY_REPAIRCODEMASTER.RPRID  Inner Join 
		   vw_repair_slab_latest_ratecard (NOLOCK) ON REPAIRSLABMASTER.RSLABMID = vw_repair_slab_latest_ratecard.RSLABMID

 /* CHANGE  TABLE NAME */
     WHERE  (REPAIRSLABMASTER.TARIFFMID=@LTARIFFMID) and  (REPAIRSLABMASTER.STMRID = @LSTMRID OR @LSTMRID = 0)  
	         and (@FilterTerm IS NULL 
              OR REPAIRSLABMASTER.RSLABMDATE LIKE @FilterTerm              
			  OR REPAIRPARTMASTER.RPRTDESC LIKE @FilterTerm  			  
              OR EMPTY_REPAIRCODEMASTER.RPRDESC LIKE @FilterTerm         
			  OR REPAIRSLABMASTER.WRMMODE LIKE @FilterTerm  			  
              OR REPAIRSLABMASTER.RSLABHRS LIKE @FilterTerm                
			  OR REPAIRSLABMASTER.RSLABHAMT LIKE @FilterTerm  
              OR REPAIRSLABMASTER.RSLABMAMT LIKE @FilterTerm   
			  OR REPAIRSLABMASTER.RSLABTAMT LIKE @FilterTerm   
			  )
                      				   
                      
       SELECT Convert(varchar(10),  RSLABMDATE,103 ) as RSLABMDATE,Isnull(WRMMODE,'') as WRMMODE, RPRDESC,RPRTDESC,RSLABHRS,
	          RSLABHAMT, RSLABMAMT,RSLABTAMT, RSLABMID
	      FROM    @TableMaster
	   
   SELECT @TotalRowsCount = COUNT(*)
   FROM  REPAIRSLABMASTER LEFT JOIN  
	       EMPTY_TARIFFMASTER (NOLOCK) ON REPAIRSLABMASTER.TARIFFMID = EMPTY_TARIFFMASTER.TARIFFMID  Left Join 
		   REPAIRPARTMASTER (NOLOCK) ON REPAIRSLABMASTER.RPRTID = REPAIRPARTMASTER.RPRTID  Left Join  
		   EMPTY_REPAIRCODEMASTER (NOLOCK) ON REPAIRPARTMASTER.RPRID = EMPTY_REPAIRCODEMASTER.RPRID Inner Join 
		   vw_repair_slab_latest_ratecard (NOLOCK) ON REPAIRSLABMASTER.RSLABMID = vw_repair_slab_latest_ratecard.RSLABMID
   WHERE (REPAIRSLABMASTER.TARIFFMID=@LTARIFFMID) and  (REPAIRSLABMASTER.STMRID = @LSTMRID OR @LSTMRID = 0)  

   SELECT @FilteredRowsCount = COUNT(*)
   FROM   @TableMaster
        


END

