USE [MCT_ERP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [FK_COMPANYACCOUNTINGDETAIL_COMPANYMASTER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYACCOUNTINGDETAIL_PRCSDATE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYACCOUNTINGDETAIL_DISPSTATUS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYACCOUNTINGDETAIL_CUSRID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYACCOUNTINGDETAIL_YRID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYACCOUNTINGDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYACCOUNTINGDETAIL_COMPID]
GO
/****** Object:  Table [dbo].[COMPANYACCOUNTINGDETAIL]    Script Date: 17-02-2022 11:58:38 ******/
DROP TABLE IF EXISTS [dbo].[COMPANYACCOUNTINGDETAIL]
GO
/****** Object:  Table [dbo].[COMPANYACCOUNTINGDETAIL]    Script Date: 17-02-2022 11:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANYACCOUNTINGDETAIL](
	[COMPYID] [int] IDENTITY(1,1) NOT NULL,
	[COMPID] [int] NOT NULL,
	[YRID] [int] NOT NULL,
	[CUSRID] [varchar](100) NOT NULL,
	[DISPSTATUS] [smallint] NOT NULL,
	[PRCSDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_COMPANYACCOUNTINGDETAIL] PRIMARY KEY CLUSTERED 
(
	[COMPYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] ADD  CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_COMPID]  DEFAULT ((0)) FOR [COMPID]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] ADD  CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_YRID]  DEFAULT ((0)) FOR [YRID]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] ADD  CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] ADD  CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] ADD  CONSTRAINT [DF_COMPANYACCOUNTINGDETAIL_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMPANYACCOUNTINGDETAIL_COMPANYMASTER] FOREIGN KEY([COMPID])
REFERENCES [dbo].[COMPANYMASTER] ([COMPID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPANYACCOUNTINGDETAIL] CHECK CONSTRAINT [FK_COMPANYACCOUNTINGDETAIL_COMPANYMASTER]
GO
