USE [MCT_ERP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYDETAIL] DROP CONSTRAINT IF EXISTS [FK_COMPANYDETAIL_COMPANYMASTER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POLICY_DATE1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POLICY_NO1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POLICY_DATE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POLICY_NO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_MESSAGE_WIDTH]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_LINE_HEIGHT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_MESSAGE_HEIGHT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_SRF_PROD_LINE_SPEED]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POP3_PORT1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POP3_PORT2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POP3_PORT3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POP3_PORT4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_POP3_PORT5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_DSGNDESC1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_DSGNDESC2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_DSGNDESC3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_DSGNDESC4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMP_DSGNDESC]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPTANNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_STATEID_1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_PRCSDATE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_LMUSRID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_CUSRID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_DISPSTATUS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPDATE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPEXNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPTARIFFNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPREGNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPANNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPDRNAME]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPWEBSITE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCOMM]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPECCADDR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCODE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPACTCODE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPDVSN]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPEXCSRNG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPECCNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPTINO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPACODE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCSTDATE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCSTNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPGSTNO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCPRSN]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPMAIL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPHN4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPHN3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPHN2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPHN1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPPHNID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPADDR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPDNAME]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPNAME]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYMASTER]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYMASTER] DROP CONSTRAINT IF EXISTS [DF_COMPANYMASTER_COMPCTYPE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYDETAIL_COMPPOADDR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYDETAIL_COMPPONAME]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANYDETAIL]') AND type in (N'U'))
ALTER TABLE [dbo].[COMPANYDETAIL] DROP CONSTRAINT IF EXISTS [DF_COMPANYDETAIL_COMPID]
GO
/****** Object:  Table [dbo].[COMPANYMASTER]    Script Date: 17-02-2022 11:55:42 ******/
DROP TABLE IF EXISTS [dbo].[COMPANYMASTER]
GO
/****** Object:  Table [dbo].[COMPANYDETAIL]    Script Date: 17-02-2022 11:55:42 ******/
DROP TABLE IF EXISTS [dbo].[COMPANYDETAIL]
GO
/****** Object:  Table [dbo].[COMPANYDETAIL]    Script Date: 17-02-2022 11:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANYDETAIL](
	[COMPDID] [int] IDENTITY(1,1) NOT NULL,
	[COMPID] [int] NOT NULL,
	[COMPPONAME] [varchar](100) NOT NULL,
	[COMPPOADDR] [varchar](500) NOT NULL,
 CONSTRAINT [PK_COMPANYDETAIL] PRIMARY KEY CLUSTERED 
(
	[COMPDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANYMASTER]    Script Date: 17-02-2022 11:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANYMASTER](
	[COMPID] [int] IDENTITY(1,1) NOT NULL,
	[COMPCTYPE] [smallint] NULL,
	[COMPNAME] [varchar](100) NULL,
	[COMPDNAME] [varchar](100) NULL,
	[COMPADDR] [varchar](250) NULL,
	[COMPPHNID] [varchar](50) NULL,
	[COMPPHN1] [varchar](50) NULL,
	[COMPPHN2] [varchar](50) NULL,
	[COMPPHN3] [varchar](50) NULL,
	[COMPPHN4] [varchar](50) NULL,
	[COMPMAIL] [varchar](50) NULL,
	[COMPCPRSN] [varchar](50) NULL,
	[COMPGSTNO] [varchar](50) NULL,
	[COMPCSTNO] [varchar](50) NULL,
	[COMPCSTDATE] [varchar](50) NULL,
	[COMPACODE] [varchar](50) NULL,
	[COMPTINO] [varchar](50) NULL,
	[COMPECCNO] [varchar](50) NULL,
	[COMPEXCSRNG] [varchar](50) NULL,
	[COMPDVSN] [varchar](50) NULL,
	[COMPACTCODE] [varchar](50) NULL,
	[COMPCODE] [varchar](50) NULL,
	[COMPECCADDR] [varchar](50) NULL,
	[COMPCOMM] [varchar](50) NULL,
	[COMPWEBSITE] [varchar](50) NULL,
	[COMPDRNAME] [varchar](50) NULL,
	[COMPPANNO] [varchar](50) NULL,
	[COMPREGNO] [varchar](50) NULL,
	[COMPTARIFFNO] [varchar](50) NULL,
	[COMPEXNO] [varchar](50) NULL,
	[COMPDATE] [smalldatetime] NULL,
	[DISPSTATUS] [smallint] NULL,
	[CUSRID] varchar(50) NOT NULL,
	[LMUSRID] varchar(50) NOT NULL,
	[PRCSDATE] [smalldatetime] NULL,
	[STATEID] [int] NOT NULL,
	[COMPTANNO] [varchar](50) NULL,
	[COMP_DSGNDESC] [varchar](100) NULL,
	[COMP_SMTP] [varchar](100) NULL,
	[COMP_POP3] [varchar](100) NULL,
	[COMP_SMTP_PORT] [varchar](100) NULL,
	[COMP_POP3_PORT] [varchar](100) NULL,
	[COMP_BANK_NAME] [varchar](100) NULL,
	[COMP_BANK_BRNCH_NAME] [varchar](100) NULL,
	[COMP_BANK_ACCT_NO] [varchar](100) NULL,
	[COMP_BANK_ACCT_TYPE] [varchar](100) NULL,
	[COMP_BANK_IFSC_CODE] [varchar](100) NULL,	
	[COMP_POLICY_NO] [varchar](100) NULL,
	[COMP_POLICY_DATE] [smalldatetime] NULL,
	[COMP_LUT_NO] [varchar](100) NULL,
	[COMP_LUT_DATE] [smalldatetime] NULL,
	[COMPCOFFTIME] [datetime] NULL,
	[COMPPDESC1] [varchar](100) NULL,
	[COMPPDESC2] [varchar](100) NULL
 CONSTRAINT [PK_COMPANYMASTER] PRIMARY KEY CLUSTERED 
(
	[COMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPID]  DEFAULT ((0)) FOR [COMPID]
GO
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPPONAME]  DEFAULT (NULL) FOR [COMPPONAME]
GO
ALTER TABLE [dbo].[COMPANYDETAIL] ADD  CONSTRAINT [DF_COMPANYDETAIL_COMPPOADDR]  DEFAULT (NULL) FOR [COMPPOADDR]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCTYPE]  DEFAULT ((0)) FOR [COMPCTYPE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPNAME]  DEFAULT (NULL) FOR [COMPNAME]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPDNAME]  DEFAULT (NULL) FOR [COMPDNAME]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPADDR]  DEFAULT (NULL) FOR [COMPADDR]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPHNID]  DEFAULT (NULL) FOR [COMPPHNID]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPHN1]  DEFAULT (NULL) FOR [COMPPHN1]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPHN2]  DEFAULT (NULL) FOR [COMPPHN2]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPHN3]  DEFAULT (NULL) FOR [COMPPHN3]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPHN4]  DEFAULT (NULL) FOR [COMPPHN4]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPMAIL]  DEFAULT (NULL) FOR [COMPMAIL]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCPRSN]  DEFAULT (NULL) FOR [COMPCPRSN]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPGSTNO]  DEFAULT (NULL) FOR [COMPGSTNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCSTNO]  DEFAULT (NULL) FOR [COMPCSTNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCSTDATE]  DEFAULT (NULL) FOR [COMPCSTDATE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPACODE]  DEFAULT (NULL) FOR [COMPACODE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPTINO]  DEFAULT (NULL) FOR [COMPTINO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPECCNO]  DEFAULT (NULL) FOR [COMPECCNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPEXCSRNG]  DEFAULT (NULL) FOR [COMPEXCSRNG]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPDVSN]  DEFAULT (NULL) FOR [COMPDVSN]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPACTCODE]  DEFAULT (NULL) FOR [COMPACTCODE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCODE]  DEFAULT (NULL) FOR [COMPCODE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPECCADDR]  DEFAULT (NULL) FOR [COMPECCADDR]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPCOMM]  DEFAULT (NULL) FOR [COMPCOMM]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPWEBSITE]  DEFAULT (NULL) FOR [COMPWEBSITE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPDRNAME]  DEFAULT (NULL) FOR [COMPDRNAME]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPPANNO]  DEFAULT (NULL) FOR [COMPPANNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPREGNO]  DEFAULT (NULL) FOR [COMPREGNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPTARIFFNO]  DEFAULT (NULL) FOR [COMPTARIFFNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPEXNO]  DEFAULT (NULL) FOR [COMPEXNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPDATE]  DEFAULT (NULL) FOR [COMPDATE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_DISPSTATUS]  DEFAULT ((0)) FOR [DISPSTATUS]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_CUSRID]  DEFAULT (NULL) FOR [CUSRID]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_LMUSRID]  DEFAULT ((0)) FOR [LMUSRID]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_PRCSDATE]  DEFAULT (NULL) FOR [PRCSDATE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_STATEID_1]  DEFAULT ((0)) FOR [STATEID]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMPTANNO]  DEFAULT (NULL) FOR [COMPTANNO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC]  DEFAULT (NULL) FOR [COMP_DSGNDESC]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC4]  DEFAULT (NULL) FOR [COMP_SMTP]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC3]  DEFAULT (NULL) FOR [COMP_POP3]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC2]  DEFAULT (NULL) FOR [COMP_SMTP_PORT]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_DSGNDESC1]  DEFAULT (NULL) FOR [COMP_POP3_PORT]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT5]  DEFAULT (NULL) FOR [COMP_BANK_NAME]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT4]  DEFAULT (NULL) FOR [COMP_BANK_BRNCH_NAME]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT3]  DEFAULT (NULL) FOR [COMP_BANK_ACCT_NO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT2]  DEFAULT (NULL) FOR [COMP_BANK_ACCT_TYPE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POP3_PORT1]  DEFAULT (NULL) FOR [COMP_BANK_IFSC_CODE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_NO]  DEFAULT (NULL) FOR [COMP_POLICY_NO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_DATE]  DEFAULT (NULL) FOR [COMP_POLICY_DATE]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_NO1]  DEFAULT (NULL) FOR [COMP_LUT_NO]
GO
ALTER TABLE [dbo].[COMPANYMASTER] ADD  CONSTRAINT [DF_COMPANYMASTER_COMP_POLICY_DATE1]  DEFAULT (NULL) FOR [COMP_LUT_DATE]
GO
ALTER TABLE [dbo].[COMPANYDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMPANYDETAIL_COMPANYMASTER] FOREIGN KEY([COMPID])
REFERENCES [dbo].[COMPANYMASTER] ([COMPID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPANYDETAIL] CHECK CONSTRAINT [FK_COMPANYDETAIL_COMPANYMASTER]
GO
