USE [MCT_ERP]
GO
/****** Object:  StoredProcedure [dbo].[pr_USER_MENU_DETAIL_ASSGN]    Script Date: 24-02-2022 10:57:01 ******/
DROP PROCEDURE IF EXISTS [dbo].[pr_USER_MENU_DETAIL_ASSGN]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplicationUserGroups]') AND type in (N'U'))
ALTER TABLE [dbo].[ApplicationUserGroups] DROP CONSTRAINT IF EXISTS [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_ApplicationUserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplicationGroupRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[ApplicationGroupRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.ApplicationGroupRoles_dbo.AspNetRoles_ApplicationRoleId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApplicationGroupRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[ApplicationGroupRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.ApplicationGroupRoles_dbo.ApplicationGroups_Id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetRoles] DROP CONSTRAINT IF EXISTS [DF_AspNetRoles_RImageClassName]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetRoles] DROP CONSTRAINT IF EXISTS [DF_AspNetRoles_ModuleID]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[ApplicationGroupRoles]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[ApplicationGroupRoles]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[__MigrationHistory]
GO
/****** Object:  View [dbo].[VW_USER_DETAILS]    Script Date: 24-02-2022 10:57:01 ******/
DROP VIEW IF EXISTS [dbo].[VW_USER_DETAILS]
GO
/****** Object:  View [dbo].[View_User_Diable_Chk_For_Login]    Script Date: 24-02-2022 10:57:01 ******/
DROP VIEW IF EXISTS [dbo].[View_User_Diable_Chk_For_Login]
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[ApplicationGroups]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 24-02-2022 10:57:01 ******/
DROP TABLE IF EXISTS [dbo].[ApplicationUserGroups]
GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[ApplicationUserId] [nvarchar](128) NOT NULL,
	[ApplicationGroupId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[ApplicationUserId] ASC,
	[ApplicationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Designation] [nvarchar](max) NULL,
	[DeptId] [int] NOT NULL,
	[DeptName] [nvarchar](max) NULL,
	[NPassword] [nvarchar](max) NULL,
	[EPassword] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Signature] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[Id] [nvarchar](128) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_User_Diable_Chk_For_Login]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_User_Diable_Chk_For_Login]
AS
SELECT        dbo.ApplicationUserGroups.ApplicationGroupId, dbo.ApplicationGroups.Name AS GroupName, dbo.AspNetUsers.UserName, dbo.AspNetUsers.EmpId,
                         dbo.EMPLOYEEMASTER.DISPSTATUS, dbo.EMPLOYEEMASTER.CATEID
FROM            dbo.AspNetUsers INNER JOIN dbo.EMPLOYEEMASTER ON dbo.AspNetUsers.EmpId = dbo.EMPLOYEEMASTER.CATEID left JOIN
				dbo.ApplicationUserGroups ON dbo.AspNetUsers.Id = dbo.ApplicationUserGroups.ApplicationUserId left join
				 dbo.ApplicationGroups ON dbo.ApplicationUserGroups.ApplicationGroupId = dbo.ApplicationGroups.Id 
						 
GO
/****** Object:  View [dbo].[VW_USER_DETAILS]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_USER_DETAILS]
AS
SELECT        dbo.ApplicationUserGroups.ApplicationGroupId, dbo.ApplicationGroups.Name AS GroupName, dbo.AspNetUsers.UserName
FROM            dbo.ApplicationUserGroups INNER JOIN
                         dbo.AspNetUsers ON dbo.AspNetUsers.Id = dbo.ApplicationUserGroups.ApplicationUserId INNER JOIN
                         dbo.ApplicationGroups ON dbo.ApplicationUserGroups.ApplicationGroupId = dbo.ApplicationGroups.Id


GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationGroupRoles]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroupRoles](
	[ApplicationRoleId] [nvarchar](128) NOT NULL,
	[ApplicationGroupId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationGroupRoles] PRIMARY KEY CLUSTERED 
(
	[ApplicationRoleId] ASC,
	[ApplicationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RMenuType] [nvarchar](128) NULL,
	[RControllerName] [nvarchar](128) NULL,
	[RMenuGroupId] [smallint] NULL,
	[RMenuGroupOrder] [smallint] NULL,
	[RMenuIndex] [nvarchar](128) NULL,
	[ModuleID] [int] NULL,
	[RImageClassName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'06b05176-310a-48b2-8604-7ecf7c3736d8', N'723bff60-0a5d-4ab2-8c8d-96ae78212e40')
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'08d42615-fe24-498e-a455-a8b3b24bf1cb', N'5f9412ac-7069-4ab0-9af1-606653e493e8')
INSERT [dbo].[ApplicationGroupRoles] ([ApplicationRoleId], [ApplicationGroupId]) VALUES (N'08d42615-fe24-498e-a455-a8b3b24bf1cb', N'723bff60-0a5d-4ab2-8c8d-96ae78212e40')
GO
INSERT [dbo].[ApplicationGroups] ([Id], [name], [Description]) VALUES (N'5f9412ac-7069-4ab0-9af1-606653e493e8', N'SuperAdmin', N'SuperAdmin Group')
INSERT [dbo].[ApplicationGroups] ([Id], [name], [Description]) VALUES (N'723bff60-0a5d-4ab2-8c8d-96ae78212e40', N'Admin', N'Admin Group')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'0258498d-da12-41a3-9d80-85fe3aff54b9', N'EmptyLeasingRepairCodeCreate', N'Can Create Empty Leasing Repair Code', N'Empty Leasing Repair Code', N'EmptyLeasingRepairCodeMaster', 3, 3, N'Index', 101, N'fa fa-briefcase')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'044e79cb-ea32-4303-a5fe-7236e4fab6f6', N'ContainerSideMasterCreate', N'Can Create Container Side Master', N'Container Side', N'ContainerSideMaster', 3, 3, N'Index', 100, N'fa fa-briefcase')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [RMenuType], [RControllerName], [RMenuGroupId], [RMenuGroupOrder], [RMenuIndex], [ModuleID], [RImageClassName]) VALUES (N'06b05176-310a-48b2-8604-7ecf7c3736d8', N'ContainerSideMasterIndex', N'Can View Container Side Master', N'Container Side', N'ContainerSideMaster', 3, 3, N'Index', 100, N'fa fa-briefcase')
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_ModuleID]  DEFAULT ((0)) FOR [ModuleID]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_RImageClassName]  DEFAULT (NULL) FOR [RImageClassName]
GO
ALTER TABLE [dbo].[ApplicationGroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.ApplicationGroups_Id] FOREIGN KEY([ApplicationGroupId])
REFERENCES [dbo].[ApplicationGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationGroupRoles] CHECK CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.ApplicationGroups_Id]
GO
ALTER TABLE [dbo].[ApplicationGroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.AspNetRoles_ApplicationRoleId] FOREIGN KEY([ApplicationRoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationGroupRoles] CHECK CONSTRAINT [FK_dbo.ApplicationGroupRoles_dbo.AspNetRoles_ApplicationRoleId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[pr_USER_MENU_DETAIL_ASSGN]    Script Date: 24-02-2022 10:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [pr_USER_MENU_DETAIL_ASSGN] @PKUSRID ='admin'
CREATE  PROCEDURE [dbo].[pr_USER_MENU_DETAIL_ASSGN] @PKUSRID AS  VARCHAR(100) 

AS

SET NOCOUNT ON

Declare @username varchar(100)

Set @username = LOWER(@PKUSRID)

delete from MenuRoleMaster WHERE Roles = @username --@PKUSRID 

INSERT INTO MenuRoleMaster(LinkText, ActionName, ControllerName, Roles, MenuGId, MenuGIndex,ImageClassName)
SELECT    dbo.AspNetRoles.RMenuType, dbo.AspNetRoles.RMenuIndex, dbo.AspNetRoles.RControllerName, dbo.AspNetUsers.UserName, 
                      dbo.AspNetRoles.RMenuGroupId, dbo.AspNetRoles.RMenuGroupOrder, RImageClassName
FROM         dbo.AspNetUsers INNER JOIN
                      dbo.AspNetUserRoles ON dbo.AspNetUsers.Id = dbo.AspNetUserRoles.UserId INNER JOIN
                      dbo.AspNetRoles ON dbo.AspNetUserRoles.RoleId = dbo.AspNetRoles.Id INNER JOIN
                      dbo.ApplicationUserGroups ON dbo.AspNetUsers.Id = dbo.ApplicationUserGroups.ApplicationUserId INNER JOIN
                      dbo.ApplicationGroups ON dbo.ApplicationUserGroups.ApplicationGroupId = dbo.ApplicationGroups.Id
GROUP BY dbo.AspNetUsers.UserName, dbo.AspNetRoles.RMenuType, dbo.AspNetRoles.RMenuIndex, dbo.AspNetRoles.RControllerName, dbo.AspNetRoles.RMenuGroupId, 
                      dbo.AspNetRoles.RMenuGroupOrder, RImageClassName
HAVING      (dbo.AspNetUsers.UserName = @username) AND (dbo.AspNetRoles.RMenuType IS NOT NULL)
ORDER BY dbo.AspNetRoles.RMenuGroupId, dbo.AspNetRoles.RMenuGroupOrder

select * from MenuRoleMaster


GO
